flask==3.0.3
langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface==0.0.3
chromadb==0.5.3
numpy==1.26.4
scipy==1.14.1
selenium==4.15.2
sentence-transformers==3.0.1
huggingface_hub==0.25.0
transformers==4.44.2
torch==2.4.1
python-Levenshtein==0.25.1
requests==2.32.3
beautifulsoup4==4.12.3
thefuzz==0.22.1
onnxruntime==1.19.2
pydantic==2.8.2
faiss-cpu==1.8.0